.artistas-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 12px;
}

.artista-card {
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  width: 150px;
  transition: transform 0.2s;
}

.artista-card:hover {
  transform: scale(1.05);
}

.artista-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.artista-card p {
  margin: 8px 0;
  font-weight: bold;
}
